/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.contentB>p {
    padding: 10px;
    border-top: 2px solid #EEEEEE;
}

.tweet {
    float: right;
    width: 65%;
    flex-direction: column;
}

.contentB {
    border-left: 2px solid #EEEEEE;
    padding: 10px;
}

.contentA>p {
    float: left;
    padding-right: 50px;
    padding-left: 50px;
}

.contentA {
    padding-bottom: 30px;
    border-left: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
}

.menu {
    width: 30%;
    float: left;
    text-align: center;
}

.button1 {
    width: 30%;
    height: 50px;
    background-color: #EEEEEE;
    border-radius:30px;
    border: none;
}

.button2 {
    width: 50%;
    height: 50px;
    color: white;
    background-color: #0099FF;
    border-radius:30px;
    font-weight: bold;
    border: none;
}

.new, .edit {
    float: right;
    width: 65%;
}

.twitter_icon {
    width: 60px;
}

.user_icon {
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    object-fit: cover;
}